<footer class="bg-dark text-dark-custom text-center text-lg-start mt-auto footer-dark">
  <!-- Sección del pie de página con enlaces sociales y derechos de autor -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Texto de derechos de autor, visible en pantallas grandes -->
    <div class="me-5 d-none d-lg-block">
      <span>© 2024 Curro Molina</span>
    </div>
    <!-- Contenedor de enlaces a redes sociales -->
    <div>
     
      <a href="https://facebook.com" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
     
      <a href="https://x.com/G0RECKI" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
     
      <a href="https://www.instagram.com/curro_molina_r/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
     
      <a href="https://www.linkedin.com/in/francisco-m-2b7a46309/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
   
      <a href="https://github.com/FranciscoMolinaRubio" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    
      <a href="https://www.youtube.com/@giacommettii" class="me-4 text-reset">
        <i class="fab fa-youtube"></i>
      </a>
    </div>

  