
<div class="contenedor">
    <div class="centradoPequeño">Sobre el autor</div>
</div>

<div class="divider">
    <img src="./assets/icons/divider4.png" id="separador" alt="">
</div>

<div class="sobremi">
    <div class="collage">
        <img src="./assets/Cuadros/collage1.jpg" id="collage" alt="">
    </div>
    <div class="texto">
        <p id="titulopequeno">Sobre el autor</p>
        <p id="titulogrande">“El arte no es lo que se ve; el arte es la brecha.” Marcel Duchamp.</p>
        <div class="divider2">
            <img src="./assets/icons/divider4.png" id="separador2" alt="">
        </div>
        <div class="detalle-con-texto">
            <img src="./assets/Cuadros/garza2.jpg" id="detalle1" alt="">
            <div class="textos">
                <p id="titulomediano">"Artista sevillano multidisclipinar...</p>
                <p id="textolargo">...y autodidacta, son
                    varios los campos de las artes aplicadas en los que se expresa con soltura. Ha trabajado la cerámica, experimentado
                    con resinas y químicos para la obtención de texturas y usado óleos, grafito, acuarelas y pigmentos a lo largo
                    de su trayectoria en su vital búsqueda expresiva."</p>
            </div>
        </div>
        <div class="detalle-con-texto">
            <div class="textos">
                <p id="titulomediano">"Se encuentra inmerso en un periodo...</p>
                <p id="textolargo">...en el que desarrolla en gran parte de su obra, a través de motivos naturales al óleo sobre
                    fondos metálicos aplicados en madera, cristal y espejos, una particular
                     actualización del art noveau, pudiendo apreciarse también ciertas reminiscencias del periodo Edo japonés."</p>
            </div>
            <img src="./assets/Cuadros/golodrinaatardecer.jpg" id="detalle2" alt="">
        </div>
    </div>
</div>

<div class="divider">
    <img src="./assets/icons/divider4.png" id="separador3" alt="">
</div>

<div class="contenedor2">
    <div class="overlay"></div>
    <div class="detalle-con-texto2">
        <a href="https://blusa.org/#/">
        <img src="./assets/Cuadros/PORTADABandcamp.jpg" id="detalle4" alt=""></a>
        <div class="textos2">
            <p id="titulomediano">También integrante...</p>
            <p id="textolargo">...del grupo musical Blusa, donde más allá del terreno musical, se encarga del diseño de portadas, realización de vídeos y el resto de aspectos visuales de la banda.</p>
            <p id="textolargo">Podéis conocer su trabajo en este sentido en el siguiente enlace.</p>
            <a href = "https://blusa.org/#/">Blusa.org</a>
        </div>   
    </div>  
</div> 
