
<div class="contenedor">
<div class="centradoPequeño">Galería</div>
</div>

<div id="nanogallery2">
    
<a href = "https://i.postimg.cc/43ZnRX1B/abedul.jpg"   data-ngThumb = "https://i.postimg.cc/43ZnRX1B/abedul.jpg >Abedules">Abedules. 81x40 cm.</a>
<a href = "https://i.postimg.cc/C1rK8kpQ/Almendro.jpg"   data-ngThumb = "https://i.postimg.cc/C1rK8kpQ/Almendro.jpg" >Almendro. 122x60 cm.</a>
<a href = "https://i.postimg.cc/fLRLk5pd/Acantilado-Rojo.jpg"   data-ngThumb = "https://i.postimg.cc/fLRLk5pd/Acantilado-Rojo.jpg" >Acantilado Rojo. 122x100 cm.</a>
<a href = "https://i.postimg.cc/KYNjZCqF/abedules-vertical.jpg"   data-ngThumb = "https://i.postimg.cc/KYNjZCqF/abedules-vertical.jpg" >Bosque. 110x100 cm.</a> 
<a href = "https://i.postimg.cc/wTy1hfvc/1933814-151184483157-815278-n.jpg"   data-ngThumb = "https://i.postimg.cc/wTy1hfvc/1933814-151184483157-815278-n.jpg" >Noche. 122x100 cm.</a>
<a href = "https://i.postimg.cc/N0pGhmFj/arbolapiz.jpg"   data-ngThumb = "https://i.postimg.cc/N0pGhmFj/arbolapiz.jpg" >Árbol seco. 50x30 cm.</a>
<a href = "https://i.postimg.cc/pV7TXfZ9/ARBOLACO3.jpg"   data-ngThumb = "https://i.postimg.cc/pV7TXfZ9/ARBOLACO3.jpg" >Árbol muerto. 122x100 cm.</a>
<a href = "https://i.postimg.cc/sg51LM5M/Abstraccion-Azul.jpg"   data-ngThumb = "https://i.postimg.cc/sg51LM5M/Abstraccion-Azul.jpg" >Abstracción azul. 122x122 cm.</a>
<a href = "https://www.youtube.com/watch?v=b1ASlGxAxZo"   data-ngThumb = "https://i.postimg.cc/YSzSRTYZ/video-Carlos.jpg"></a> 
<a href = "https://i.postimg.cc/VLxd4q0y/Abstraccion-Roja.jpg"   data-ngThumb = "https://i.postimg.cc/VLxd4q0y/Abstraccion-Roja.jpg" >Abstracción Roja. 122x100 cm.</a>
<a href = "https://i.postimg.cc/7hCZnhxY/Angel.jpg"   data-ngThumb = "https://i.postimg.cc/7hCZnhxY/Angel.jpg" >Ángel. 122x122 cm.</a>
<a href = "https://i.postimg.cc/tJLCSbTd/arboles-Dorado.jpg"   data-ngThumb = "https://i.postimg.cc/tJLCSbTd/arboles-Dorado.jpg" >Troncos. 122x60 cm.</a>
<a href = "https://i.postimg.cc/Wbk4DdW5/arbolesplata2.jpg"   data-ngThumb = "https://i.postimg.cc/Wbk4DdW5/arbolesplata2.jpg" >Bosque sobre plata. 122x60 cm.</a>
<a href = "https://www.youtube.com/watch?v=N6Ax-hdkVn0"   data-ngThumb = "https://i.postimg.cc/TP6wrTLn/videoCooper.jpg" ></a>
<a href = "https://i.postimg.cc/525N3ZMv/arbolesplatadedo.jpg"   data-ngThumb = "https://i.postimg.cc/525N3ZMv/arbolesplatadedo.jpg" >Detalle de Bosque sobre plata</a>
<a href = "https://i.postimg.cc/wvMq9MRc/arboljaponesreenmarcado.jpg"   data-ngThumb = "https://i.postimg.cc/wvMq9MRc/arboljaponesreenmarcado.jpg" >Pequeña estampa japonesa</a>
<a href = "https://i.postimg.cc/P5n51d0T/arbolmuerto.jpg"   data-ngThumb = "https://i.postimg.cc/P5n51d0T/arbolmuerto.jpg" >Árbol muerto Segundo. 122x100 cm.</a>
<a href = "https://www.youtube.com/watch?v=AN3GvxsuLWg"   data-ngThumb = "https://i.postimg.cc/Y92Cs8x9/videoElena.jpg" ></a>
<a href = "https://i.postimg.cc/qvG6Rtq9/arbolpaco2.jpg"   data-ngThumb = "https://i.postimg.cc/qvG6Rtq9/arbolpaco2.jpg" >Árbol. 70x45 cm.</a>
<a href = "https://i.postimg.cc/6TJtVhjY/azul.jpg"   data-ngThumb = "https://i.postimg.cc/6TJtVhjY/azul.jpg" >Azul. 30x30 cm.</a>
<a href = "https://i.postimg.cc/RCn3tpq1/bosque1.jpg"   data-ngThumb = "https://i.postimg.cc/RCn3tpq1/bosque1.jpg" >Sin título</a>
<a href = "https://i.postimg.cc/c4yvB78p/bosqueabedulescristal.jpg"   data-ngThumb = "https://i.postimg.cc/c4yvB78p/bosqueabedulescristal.jpg" >Abedules sobre cristal</a>
<a href = "https://i.postimg.cc/rpPm05kY/bosquedorado.jpg"   data-ngThumb = "https://i.postimg.cc/rpPm05kY/bosquedorado.jpg" >Sobre azul prusia. 81x40 cm.</a>
<a href = "https://youtu.be/nBmXC-bdSGc"   data-ngThumb = "https://i.postimg.cc/CxFkjyZB/detalle.jpg" >Detalle</a>
<a href = "https://i.postimg.cc/02YbW6Yb/Bosque-Oro-B.jpg"   data-ngThumb = "https://i.postimg.cc/02YbW6Yb/Bosque-Oro-B.jpg" >A la manera de Gloria Petyarre</a>
<a href = "https://i.postimg.cc/s2kzCmyy/def1.jpg"   data-ngThumb = "https://i.postimg.cc/s2kzCmyy/def1.jpg" >Bosque y un señor</a>
<a href = "https://i.postimg.cc/x19qW05g/carlos2.jpg"   data-ngThumb = "https://i.postimg.cc/x19qW05g/carlos2.jpg" >A la manera de Gloria Petyarre</a>
<a href = "https://i.postimg.cc/kgWFyX4c/process1.jpg"   data-ngThumb = "https://i.postimg.cc/kgWFyX4c/process1.jpg" >Proceso</a>
<a href = "https://i.postimg.cc/ZnwZ2ych/1928769-46779213157-738-n.jpg"   data-ngThumb = "https://i.postimg.cc/ZnwZ2ych/1928769-46779213157-738-n.jpg" > </a>
<a href = "https://i.postimg.cc/PrqdZ2Xf/en-lo-mio.jpg"   data-ngThumb = "https://i.postimg.cc/PrqdZ2Xf/en-lo-mio.jpg" >Proceso</a>
<a href = "https://i.postimg.cc/ZKD4Lpn8/Paisaje-Blanco.jpg"   data-ngThumb = "https://i.postimg.cc/ZKD4Lpn8/Paisaje-Blanco.jpg" >Paisaje nevado</a>
<a href = "https://i.postimg.cc/9Q1z2vN2/carloslucia.jpg"   data-ngThumb = "https://i.postimg.cc/9Q1z2vN2/carloslucia.jpg" >Textura tercera. 30x30 cm.</a>
<a href = "https://i.postimg.cc/L6ps1HcR/casta-o.jpg"   data-ngThumb = "https://i.postimg.cc/L6ps1HcR/casta-o.jpg" >Castaño. 120x50 cm.</a>
<a href = "https://i.postimg.cc/h4xjvJ3p/CECI.jpg"   data-ngThumb = "https://i.postimg.cc/h4xjvJ3p/CECI.jpg" >Globos. 100x50 cm.</a>
<a href = "https://i.postimg.cc/529Nss9R/chinesse.jpg"   data-ngThumb = "https://i.postimg.cc/529Nss9R/chinesse.jpg" >Transparente. 122x40 cm.</a>
<a href = "https://youtu.be/yYSHQdwAK5g"   data-ngThumb = "https://i.postimg.cc/CLCbBMKp/videoDedo.jpg" > </a>
<a href = "https://i.postimg.cc/Cx3030jd/pintando2.jpg"   data-ngThumb = "https://i.postimg.cc/Cx3030jd/pintando2.jpg" >Proceso</a>
<a href = "https://i.postimg.cc/DzHvyFr9/Collage.jpg"   data-ngThumb = "https://i.postimg.cc/DzHvyFr9/Collage.jpg" >Susana. 122x122 cm.</a>
<a href = "https://i.postimg.cc/d1CqhXnL/collagealargado.jpg"   data-ngThumb = "https://i.postimg.cc/d1CqhXnL/collagealargado.jpg" >Collage Segundo. 122x60 cm.</a>
<a href = "https://i.postimg.cc/yxXsPZMK/completo1.jpg"   data-ngThumb = "https://i.postimg.cc/yxXsPZMK/completo1.jpg" >Nuevo bosque de abedules. 120x60 cm.</a>
<a href = "https://i.postimg.cc/bNpzvmnw/Cristina.jpg"   data-ngThumb = "https://i.postimg.cc/bNpzvmnw/Cristina.jpg" >Cristina</a>
<a href = "https://i.postimg.cc/SQWSqBJP/cuadro1.jpg"   data-ngThumb = "https://i.postimg.cc/SQWSqBJP/cuadro1.jpg" >A la manera de Gloria Petyarre</a>
<a href = "https://i.postimg.cc/2yfChwXT/cuento.jpg"   data-ngThumb = "https://i.postimg.cc/2yfChwXT/cuento.jpg" >Cuento</a>
<a href = "https://i.postimg.cc/BQpJP25c/dance1.jpg"   data-ngThumb = "https://i.postimg.cc/BQpJP25c/dance1.jpg" >Danza. 70x50 cm.</a>
<a href = "https://i.postimg.cc/5tYJrGhn/daurica.jpg"   data-ngThumb = "https://i.postimg.cc/5tYJrGhn/daurica.jpg" >Golondrina Dáurica. 30x30 cm.</a>
<a href = "https://youtu.be/yA-hYDg4O-0"   data-ngThumb = "https://i.postimg.cc/Xvq5zwkn/videoHojas.jpg" > </a>
<a href = "https://i.postimg.cc/W1FjYzqQ/ELENA.jpg"   data-ngThumb = "https://i.postimg.cc/W1FjYzqQ/ELENA.jpg" >Elena (proceso)</a>
<a href = "https://i.postimg.cc/Hn215CMs/defgolonmarta2.jpg"   data-ngThumb = "https://i.postimg.cc/Hn215CMs/defgolonmarta2.jpg" >Golondrina Dáurica. 30x30 cm.</a>
<a href = "https://i.postimg.cc/PJhkPqPR/Diosa.jpg"   data-ngThumb = "https://i.postimg.cc/PJhkPqPR/Diosa.jpg" >Diosa Carpa. 122x122 cm.</a>
<a href = "https://i.postimg.cc/dVXPG6hd/ElenaTerminado.jpg"   data-ngThumb = "https://i.postimg.cc/dVXPG6hd/ElenaTerminado.jpg" >Elena. 130x50 cm.</a>
<a href = "https://i.postimg.cc/BZCrm48J/espejito.jpg"   data-ngThumb = "https://i.postimg.cc/BZCrm48J/espejito.jpg" >Decoración de espejo</a>
<a href = "https://i.postimg.cc/65MNptwM/espejo.jpg"   data-ngThumb = "https://i.postimg.cc/65MNptwM/espejo.jpg" ></a>
<a href = "https://i.postimg.cc/1XyLyYdx/florJapo.jpg"   data-ngThumb = "https://i.postimg.cc/1XyLyYdx/florJapo.jpg" >Ramas y aluminio. 180x60 cm.</a>
<a href = "https://i.postimg.cc/DZr9kKBd/full3.jpg"   data-ngThumb = "https://i.postimg.cc/DZr9kKBd/full3.jpg" >Pequeño paseo. 122x122 cm.</a>
<a href = "https://i.postimg.cc/YqqJVZgY/garza1.jpg"   data-ngThumb = "https://i.postimg.cc/YqqJVZgY/garza1.jpg" >Garza. 30x30 cm.</a>
<a href = "https://www.youtube.com/watch?v=CWbKMM9gG6w"   data-ngThumb = "https://i.postimg.cc/wj0J2WJW/videomagnolio.jpg" > </a>
<a href = "https://i.postimg.cc/26mD5x9D/prueba.jpg"   data-ngThumb = "https://i.postimg.cc/26mD5x9D/prueba.jpg" >Boceto</a>
<a href = "https://i.postimg.cc/W40Vjyn8/selfiealmendro.jpg"   data-ngThumb = "https://i.postimg.cc/W40Vjyn8/selfiealmendro.jpg" >Almendro y un señor</a>
<a href = "https://i.postimg.cc/Gh7Z1KJN/Globo.jpg"   data-ngThumb = "https://i.postimg.cc/Gh7Z1KJN/Globo.jpg" >Globo. 122x122 cm.</a>
<a href = "https://i.postimg.cc/W1dxpZ54/golodrinaatardecer.jpg"   data-ngThumb = "https://i.postimg.cc/W1dxpZ54/golodrinaatardecer.jpg" >Atardecer. 30x30 cm.</a>
<a href = "https://i.postimg.cc/Rh3wJvyw/selfie.jpg"   data-ngThumb = "https://i.postimg.cc/Rh3wJvyw/selfie.jpg" >En lo mío</a>
<a href = "https://i.postimg.cc/y8HxR0bL/almendro-espejo.jpg"   data-ngThumb = "https://i.postimg.cc/y8HxR0bL/almendro-espejo.jpg" >Almendro sobre espejo. 30x30 cm.</a>
<a href = "https://i.postimg.cc/9XDDHm9Y/collagedormitorio.jpg"   data-ngThumb = "https://i.postimg.cc/9XDDHm9Y/collagedormitorio.jpg" >Susana en su lugar</a>
<a href = "https://i.postimg.cc/Wpxh2B6L/def1.jpg"   data-ngThumb = "https://i.postimg.cc/Wpxh2B6L/def1.jpg" >Textura de un cuadro desechado</a>
<a href = "https://i.postimg.cc/hPxhh2pJ/defin4.jpg"   data-ngThumb = "https://i.postimg.cc/hPxhh2pJ/defin4.jpg" >Bosque (detalle)</a>
<a href = "https://i.postimg.cc/1zRzCsP6/IMG-20150310-204657.jpg"   data-ngThumb = "https://i.postimg.cc/1zRzCsP6/IMG-20150310-204657.jpg" >Ángel (en proceso)</a>
<a href = "https://i.postimg.cc/T3JwJp8f/IMG-5594.jpg"   data-ngThumb = "https://i.postimg.cc/T3JwJp8f/IMG-5594.jpg" >Otoño (detalle)</a>
<a href = "https://i.postimg.cc/XJpYWLrY/IMG-5603.jpg"   data-ngThumb = "https://i.postimg.cc/XJpYWLrY/IMG-5603.jpg" >Otoño (detalle)</a>
<a href = "https://i.postimg.cc/xChT1mmy/IMG-7146.jpg"   data-ngThumb = "https://i.postimg.cc/xChT1mmy/IMG-7146.jpg" >The Sinister (detalle)</a>
<a href = "https://i.postimg.cc/fydWtbj4/magnoliosalon.jpg"   data-ngThumb = "https://i.postimg.cc/fydWtbj4/magnoliosalon.jpg" >Magnolio en su lugar</a>
<a href = "https://i.postimg.cc/c4qLqQ0d/peti3jpg.jpg"   data-ngThumb = "https://i.postimg.cc/c4qLqQ0d/peti3jpg.jpg" >Petirrojo (detalle)</a>
<a href = "https://i.postimg.cc/7PJZQBvB/Sin-t-tulo-1.jpg"   data-ngThumb = "https://i.postimg.cc/7PJZQBvB/Sin-t-tulo-1.jpg" >Estudio sobre cristal.</a>
<a href = "https://youtu.be/di6t4AztFE4"   data-ngThumb = "https://i.postimg.cc/jj1f0LMP/videoproceso.jpg" > </a>
<a href = "https://youtu.be/J0DLE_kJ0W0"   data-ngThumb = "https://i.postimg.cc/4ykhyjk3/videoproceso2.jpg" > </a>
<a href = "https://i.postimg.cc/cJYjwSyy/gota.jpg"   data-ngThumb = "https://i.postimg.cc/cJYjwSyy/gota.jpg" >Gota</a>
<a href = "https://i.postimg.cc/BQ6VND9C/gota2.jpg"   data-ngThumb = "https://i.postimg.cc/BQ6VND9C/gota2.jpg" >Gota segunda</a>
<a href = "https://i.postimg.cc/6pFg8QPf/guerrero.jpg"   data-ngThumb = "https://i.postimg.cc/6pFg8QPf/guerrero.jpg" >Guerrero</a>
<a href = "https://i.postimg.cc/Y0XyM2gg/hojas.jpg"   data-ngThumb = "https://i.postimg.cc/Y0XyM2gg/hojas.jpg" >Hojas. 70x40 cm.</a>
<a href = "https://i.postimg.cc/fW5PxCFL/HojasOroPeq.jpg"   data-ngThumb = "https://i.postimg.cc/fW5PxCFL/HojasOroPeq.jpg" >Bosque sobre plata. 122x80 cm.</a>
<a href = "https://i.postimg.cc/Qth67KJ1/IMG_8814.jpg"   data-ngThumb = "https://i.postimg.cc/Qth67KJ1/IMG_8814.jpg" >Diosa (detalle)</a>
<a href = "https://i.postimg.cc/y83rCHNg/Invierno.jpg"   data-ngThumb = "https://i.postimg.cc/y83rCHNg/Invierno.jpg" >Invierno. 100x80 cm.</a>
<a href = "https://i.postimg.cc/XvM1VzZ2/japonesa.jpg"   data-ngThumb = "https://i.postimg.cc/XvM1VzZ2/japonesa.jpg" >Diosa. 30x30 cm.</a>
<a href = "https://i.postimg.cc/Wz4XWRK4/magnoliodef3.jpg"   data-ngThumb = "https://i.postimg.cc/Wz4XWRK4/magnoliodef3.jpg" >Flor del magnolio. 100x60 cm.</a>
<a href = "https://i.postimg.cc/3JVnBcZK/montañadef1.jpg"   data-ngThumb = "https://i.postimg.cc/3JVnBcZK/montañadef1.jpg" >Denali. 69x49 cm.</a>
<a href = "https://i.postimg.cc/DfCCWZJ4/montañaselfie.jpg"   data-ngThumb = "https://i.postimg.cc/DfCCWZJ4/montañaselfie.jpg" >Denali y un señor</a>
<a href = "https://i.postimg.cc/kGhwL13v/mano1.jpg"   data-ngThumb = "https://i.postimg.cc/kGhwL13v/mano1.jpg" >Mano. 30x30 cm.</a>
<a href = "https://i.postimg.cc/xdSgrN7h/ola.jpg"   data-ngThumb = "https://i.postimg.cc/xdSgrN7h/ola.jpg" >Ola Número 9. 68x57 cm.</a>
<a href = "https://i.postimg.cc/fRd5gfHY/pablodefinitivo.jpg"   data-ngThumb = "https://i.postimg.cc/fRd5gfHY/pablodefinitivo.jpg" >Mi hermano. 30x41 cm.</a>
<a href = "https://www.youtube.com/watch?v=nBmXC-bdSGc"   data-ngThumb = "https://i.postimg.cc/KzgMZxWV/videoSin_título-1.jpg" > </a>
<a href = "https://i.postimg.cc/T1SqtKgk/pequeñito.jpg"   data-ngThumb = "https://i.postimg.cc/T1SqtKgk/pequeñito.jpg" >Estudio (primer uso de pan de oro)</a>
<a href = "https://i.postimg.cc/0NxGXRKq/petalos1.jpg"   data-ngThumb = "https://i.postimg.cc/0NxGXRKq/petalos1.jpg" >Petalos. 73x60 cm.</a>
<a href = "https://i.postimg.cc/JhqN96jH/petalos4.jpg"   data-ngThumb = "https://i.postimg.cc/JhqN96jH/petalos4.jpg" >Pétalos (detalle)</a>
<a href = "https://i.postimg.cc/VLxWMbYv/plata.jpg"   data-ngThumb = "https://i.postimg.cc/VLxWMbYv/plata.jpg" >Invierno sobre plata. 122x60 cm.</a>
<a href = "https://i.postimg.cc/mDgYRYSX/puto1.jpg"   data-ngThumb = "https://i.postimg.cc/mDgYRYSX/puto1.jpg" >Golondrina Dáurica. 30x30 cm.</a>
<a href = "https://i.postimg.cc/8cqMhqg9/ramitas2.jpg"   data-ngThumb = "https://i.postimg.cc/8cqMhqg9/ramitas2.jpg" >Bosque dorado. 120x60 cm. </a>
<a href = "https://i.postimg.cc/qM38kM8T/SanJorge.jpg"   data-ngThumb = "https://i.postimg.cc/qM38kM8T/SanJorge.jpg" >San Jorge</a>
<a href = "https://i.postimg.cc/SQ56FzYd/skyline.jpg"   data-ngThumb = "https://i.postimg.cc/SQ56FzYd/skyline.jpg" >Ciudad. 122x90 cm.</a>
<a href = "https://i.postimg.cc/JhPXTyWb/solo.jpg"   data-ngThumb = "https://i.postimg.cc/JhPXTyWb/solo.jpg" >Otoño. 125x60 cm.</a>
<a href = "https://i.postimg.cc/rwGxrnnZ/textura1.jpg"   data-ngThumb = "https://i.postimg.cc/rwGxrnnZ/textura1.jpg" >Textura. 30x30 cm.</a>
<a href = "https://i.postimg.cc/5txvqBD4/TheSinister.jpg"   data-ngThumb = "https://i.postimg.cc/5txvqBD4/TheSinister.jpg" >The Sinister</a>
<a href = "https://i.postimg.cc/nrQQc09k/Untitled-1.jpg"   data-ngThumb = "https://i.postimg.cc/nrQQc09k/Untitled-1.jpg" >Hojas (en proceso)</a>
<a href = "https://i.postimg.cc/Y90WTppT/textura2.jpg"   data-ngThumb = "https://i.postimg.cc/Y90WTppT/textura2.jpg" >Textura segunda. 30x30 cm.</a> 
<a href = "https://i.postimg.cc/PJ9Drwv8/Abejaruco.jpg"   data-ngThumb = "https://i.postimg.cc/PJ9Drwv8/Abejaruco.jpg" >Abejaruco. 30x30 cm.</a> 
<a href = "https://i.postimg.cc/Px6Z9cty/manos2.jpg"   data-ngThumb = "https://i.postimg.cc/Px6Z9cty/manos2.jpg" >Estudio de las manos de Susana #2. 70x70 cm.</a> 
<a href = "https://i.postimg.cc/xj4MPWpT/miniaturas.jpg"   data-ngThumb = "https://i.postimg.cc/xj4MPWpT/miniaturas.jpg" >Miniaturas</a> 
<a href = "https://i.postimg.cc/MHvRSDHS/pequeña.jpg"   data-ngThumb = "https://i.postimg.cc/MHvRSDHS/pequeña.jpg" >Pequeña estampa japonesa. 35x35 cm.</a> 
<a href = "https://i.postimg.cc/CLnDrm9C/RevisionTangYin.jpg"   data-ngThumb = "https://i.postimg.cc/CLnDrm9C/RevisionTangYin.jpg" >Repruducciçon libre de un pergamino de Tang Yin. 100x40 cm.</a> 
</div>


